<div id="rescue">
  <h2>Rescue an animal</h2>
  <p>A fearless team of animal advocates is on hand to rescue the animal of your choice. You just need enough VegBucks to establish a trust fund to support the animal for the rest of its life. Click on an animal to establish a trust fund for it and send out the rescue team!</p>
  <div ng-click="rescue('cow')">
  <img src="app/assets/animated-cow-image-0028.gif" />
  <p>Establish trust fund for 5 VegBucks</p>
  </div>
  <p>You have {{yourVegBucks}} VegBucks</p>
  <button ng-click="goToSanctuary()">Go to your sanctuary!</button>
</div>